  <!-- Main content -->
  <div class="main-content">

    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a style="padding-top: 20px;" class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">Статистика нарушений машинистов</a>
      </div>
    </nav>

    <!-- Header -->
    {% include 'includes/top-stats.html' %}

    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">

          <!-- CENTRAL CARD -->
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">График</h6>
                  <!-- <h2 class="text-white mb-0">Sales value</h2> -->
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- <h6 class="text-uppercase text-light ls-1 mb-1">Вероятность нарушения машиниста</h6> -->

      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h5 class="text-white mb-0">Вероятность нарушения для машиниста</h5>
            </div>
            <div class="table-responsive">
              <table style="height:700px;overflow-y: scroll;display:block;" id="currtabnum_table" class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">LastName</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">PatrName</th>
                    <th scope="col">ID_SP_NAR</th>
                    <th scope="col">Расшифровка</th>                    
                    <th scope="col">KOD_DEPO</th>
                    <th scope="col">Стаж</th>
                    <th scope="col">SpsSerieID</th>
                    <th scope="col">SpsGroupID</th>
                    <th scope="col">NumLokSeries4</th>                    
                    <th scope="col">ID_SP_NAR count on road</th>
                    <th scope="col">CurrTabNum</th>
                    <th scope="col">Personal propability</th>
                    <th scope="col">DATE</th>
                    <th scope="col">Количество</th>
                    <th scope="col">RoadID</th>
                    <th scope="col">Код дороги</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr> 
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

      {% include 'includes/footer.html' %}

    </div>
  </div>

